[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "ganalytics"]
	path = ganalytics
	url = https://github.com/jdeboer/ganalytics
	shallow = true
	registered = true
